<h1>Welcome to this page</h1>
<h2>Here we'll going to learn ajax from devise.</h2>
<h3>If you are interested in it, just learn with me :)</h3>


<a class="popup-modal" href="#test-modal">註冊</a>

<div id="test-modal" class="white-popup-block mfp-hide" style="background:white;">
  <div class="alert_info"></div>
  <%= simple_form_for Member.new, as: :member, url: member_registration_path, html: { id: "registration_form" }, remote: true, format: :json do |f| %>
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="form-action">
      <%= f.button :submit %>
    </div>
  <% end %>
  <p><a class="popup-modal-dismiss" href="#">&times;</a></p>
</div>
<br>
<hr>

<% if member_signed_in? %>
  <a href="#"><%= current_member.name %></a>
  <br>
  <%= link_to "登出", destroy_member_session_path, method: :delete %>
<% else %>
  <a href="#" id="foundation-popup-link">Ajax註冊</a>
  <br>
  <a href="#" id="login-link">Ajax登入</a>
<% end %>

<div id="foundation-popup"></div>
